*{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 24px;
    text-decoration: solid black;
    font-weight: bold;
}

a{
    color: navy;
    text-decoration: none;
}

a:hover{
    color: brown;
    text-decoration: underline;
}